<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head'); %>

    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">

            <%- include('layouts/navbar'); %>

                <!-- Header-->
                <header class="bg-darkk py-1">
                    <div class="container px-2">
                        <div class="row gx-5 align-items-center justify-content-center">
                            <div class="col-lg-8 col-xl-7 col-xxl-6">
                                <div class="my-5 text-center text-xl-start">
                                    <h1 class="display-5 fw-bolder mb-2">Result Portal
                                    </h1>
                                </div>
                            </div>
                            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img
                                    class="img-fluid rounded-3 my-5 bannerimg" src="/assets/result.png" alt="appointment" />
                            </div>
                        </div>
                    </div>
                </header>


                <div id="driverTest">
                    <table class="driverTestTable">
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Test Type</th>
                        <th>Test Result</th>

                        <% for (var i=0; i < driverTestsRetrieved.length; i++) { %>
                                <tr>
                                    <td>  <%= driverTestsRetrieved[i].firstname %>  </td>
                                    <td>
                                        <%= driverTestsRetrieved[i].lastname %>
                                    </td>
                                    <td>
                                        <%= driverTestsRetrieved[i].testtype %>
                                    </td>
                                   
                                        <% if(driverTestsRetrieved[i].result) { %> 
                                            <td style="color: rgb(22, 165, 30);"> Pass </td>
                                        <% } %>

                                        <% if(driverTestsRetrieved[i].result == false) { %> 
                                            <td style="color: rgb(201, 14, 14);"> Fail </td>
                                        <% } %>

                                        <% if(driverTestsRetrieved[i].result == null) { %> 
                                            <td > Pending </td>
                                        <% } %>
                                   
                                </tr>

                                <% } %>
                    </table>
                </div>
        </main>


        <%- include('layouts/footer'); %>

            <%- include('layouts/script'); %>

    </body>

</html>